env = "stg" # stg | prd
app_name = "app"
app_fqdn = "your.website.com"
app_hosted_zone_id = "Z2CTV9J3DSNOR7"
aws_access_key = ""
aws_secret_key = ""
region = "ap-southeast-1"
default_tags = {
    Project     = "Hello World"
    Environment = "Staging" # Production | Staging
}

# vpc = "YOUR_VPC_ID"
availability_zones = ["ap-southeast-1a", "ap-southeast-1b", "ap-southeast-1c"]
acm_certificate_arn = "arn:aws:acm:us-east-1:1234567890:certificate/2de8be2a-1234-1234-1234-123412341234"
